<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
                <p>Bonjour {{ application.user.firstName }} {{ application.user.lastName }},</p>
                <p>Merci d'avoir choisi <strong>l'ENAM</strong> pour intégrer la Première année en <strong>{{ application.course.name }}</strong>.</p>
                <p>Nous avons bien reçu votre demande d'inscription au concours de la session de <strong>juillet 2019</strong> et nous vous confirmons la réception de l'intégralité des éléments constituants votre dossier de candidature.</p>
                <p>Après étude de votre dossier, il vous sera envoyé via votre adresse mail, une convocation officielle au concours d'admission au titre de l'année universitaire <strong>2019-2020</strong> .Il vous sera demandé le jour du concours de vous présenter avec cette même convocation et une pièce d'identité en cours de validité.</p>
                <p>N'hésitez pas à nous solliciter en cas de besoin, nous nous ferons un plaisir de répondre à vos questions.</p>
                <p>Ce mail est généré automatiquement par notre système. Merci de ne pas y répondre.</p>
                -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

                <p>ENAM</p>

                <p>Direction des études et des affaires académiques</p>

                <p>Km10, Rte Haj Kaddour,BP S-40, Meknès 50001 Maroc </p>

                <p>Tél. : +212 (0)535 300239/40/41</p>

                <p>marvoolea@enameknes.ac.ma</p>
</body>
</html>
