{% extends "login.html.twig" %}

{% block fos_user_content %}
    <div class="form">
        <form action="{{ path("init_password") }}" method="post">
            <h5 style="font-family: helvetica;color: #1ab9a7;margin-top: 0;font-size: 18px;line-height: 1.5;margin-bottom: 30px;">Pour valider votre candidature, veuillez créer votre mot de passe</h5>
            <input type="hidden" id="token" name="token" value="{{ token }}"/>
            <label for="username">Mot de passe :</label>
            <input type="password" id="password" name="password" value="" required="required"/>

            <label for="password">Confirmation de mot de passe :</label>
            <input type="password" id="confirmation" name="confirmation" required="required"/>

            <button type="submit" id="_submit" name="_submit">Connexion</button>
        </form>
        <p style="font-size: 13px;text-align: left; margin-top: 10px;">
            NB : Ce mot de passe et votre adresse mail vous seront demandés chaque fois que vous voulez consulter votre compte de candidat à l’ENAM.
        </p>
    </div>
{% endblock fos_user_content %}
