{% extends 'login.html.twig' %}

{% block fos_user_content %}
    <div class="form">
       <p>
           Votre demande a bien été enregistrée.
           un mail vous a été envoyé,
           veuillez le consulter afin de finaliser votre candidature.
       </p>
    </div>
{% endblock %}