<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
        Bonjour {{ user.firstName }} {{ user.lastName }} ,
        <p>{{ mailBody|raw }}</p>
        -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

        <p>ENAM</p>

        <p>Direction des études et des affaires académiques</p>

        <p>Km10, Rte Haj Kaddour,BP S-40, Meknès 50001 Maroc </p>

        <p>Tél. : +212 (0)535 300239/40/41</p>

        <p>marvoolea@enameknes.ac.ma</p>
</body>
</html>
