<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
        Bonjour {{ application.user.firstName }} {{ application.user.lastName }} ,
        <p>Nous portons à votre information que votre dossier de candidature est toujours incomplet.</p>
        <p>Afin de finaliser votre candidature, vous aurez besoin de votre email : {{ application.user.email }} et de votre mot de passe ENAM que vous avez choisi en candidatant.</p>
        <p>La vérification de votre dossier et le suivi de votre candidature est accessible via le site <a href="{{ url('fos_user_security_login') }}">ADMISSIONS.ENAM.AC.MA</a>.</p>
        <p>ATTENTION : votre candidature n'est validée qu'après avoir finalisé toutes les étapes de votre candidature.Les documents envoyés en copie scannée feront l'objet d'une vérification avec les pièces originales lors de l'inscription définitive.</p>
        <p>Ce mail est généré automatiquement par notre système. Merci de ne pas y répondre.</p>
        -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

        <p>ENAM</p>

        <p>Direction des études et des affaires académiques</p>

        <p>Km10, Rte Haj Kaddour,BP S-40, Meknès 50001 Maroc </p>

        <p>Tél. : +212 (0)535 300239/40/41</p>

        <p>marvoolea@enameknes.ac.ma</p>
</body>
</html>
