<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
        Bonjour {{ application.user.firstName }} {{ application.user.lastName }} ,
        <p>Nous vous remercions de l'intérêt que vous portez au Master Bim ENAM. </p>
        <p>Après délibération, la Commission du concours d'accès au Master Bim ENAM  a le regret de vous informer que votre candidature n’a pas été retenue et vous déclare par conséquent non admis(e) à passer le concours d’accès en Première année du <strong>{{ application.course.name }}</strong> .</p>
        <p>En vous souhaitant bonne chance dans votre parcours, veuillez agréer nos salutations distinguées. </p>
        <p>Cordialement.</p>
        <p>Ce mail est généré automatiquement par notre système. Merci de ne pas y répondre.</p>
        -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

        <p>ENAM</p>

        <p>Direction des études et des affaires académiques</p>

        <p>Km10, Rte Haj Kaddour,BP S-40, Meknès 50001 Maroc </p>

        <p>Tél. : +212 (0)535 300239/40/41</p>

        <p>marvoolea@enameknes.ac.ma</p>
</body>
</html>
