<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
        Bonjour {{ application.user.firstName }} {{ application.user.lastName }} ,
        <p>Merci d'avoir choisi  l’ENAM pour intégrer la Première année en  <strong>{{ application.course.name }}</strong>.</p>
        <p>Nous avons le plaisir de vous convoquer à passer le concours d'admission dans les locaux de l’ENAM suivant les horaires indiqués sur la liste officielle des candidats.</p>
        <p>N'hésitez pas à nous solliciter en cas de besoin, nous nous ferons un plaisir de répondre à vos questions.</p>
        <p>Ce mail est généré automatiquement par notre système. Merci de ne pas y répondre.</p>
        -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

        <p>ENAM</p>

        <p>Direction des études et des affaires académiques</p>

        <p>Km10, Rte Haj Kaddour,BP S-40, Meknès 50001 Maroc </p>

        <p>Tél. : +212 (0)535 300239/40/41</p>

        <p>master@enameknes.net</p>
</body>
</html>
