{% block subject %} Réinitialisation de votre mot de passe {% endblock %}

{% block body_html %}
    {% embed "email/email.html.twig" %}
        {% block body_text %}
            {% autoescape false %}
                Bonjour {{ user.firstName }} {{ user.lastName }}!

                <p>Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous</p>

                <p>Vous allez être redirigé(e) vers une page d'application sur laquelle vous pourrez changer votre mot de passe.</p>

                {{ confirmationUrl }}

                <p>ATTENTION : si vous n'êtes pas la personne à qui s'adresse cet email ou bien si vous n'avez pas fait

                    acte de candidature au master bim de l'ENAM, c'est qu'une personne s'est trompée dans la saisie

                    de son adresse email. Cet email ne vous concerne donc pas et nous vous prions de nous en excuser.

                    Ce mail est généré automatiquement par notre système. Merci de ne pas y répondre.</p>

                -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

                <p>ENAM</p>

                <p>Direction des études et des affaires académiques</p>

                <p>Km10, Rte Haj Kaddour,BP S-40, Meknès 50001 Maroc </p>

                <p>Tél. : +212 (0)535 300239/40/41</p>

                <p>master@enameknes.net</p>
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
